# -------------------------
# Node
# -------------------------
node_modules/
npm-debug.log
yarn-error.log
dist/
build/
.env
.env.*

# -------------------------
# Angular
# -------------------------
.angular/
.angular/cache/
dist/
coverage/

# IDE / OS
.DS_Store
Thumbs.db
.idea/
.vscode/
